---
import Layout from "../layouts/Layout.astro";
import { getImages } from "../utils/sanity";

const images = await getImages();
---

<Layout title="Home">
  <section>
    <h1>AmyBabyZ</h1>
  </section>
</Layout>
