---
import Button from "./Button.astro";
---
<nav>
    <div class="nav-container">
        <Button text="About" link="/about" classes="navbtn" />
        <Button text="Shoutouts" link="/shoutouts" classes="navbtn" />
        <Button text="Merch" link="https://merch.amybabyz.com" classes="navbtn" newtab={true} />
        <Button text="Trovians" link="https://trovians.com" classes="navbtn" newtab={true} />
    </div>
</nav>

<style>
    .nav-container {
        padding: 1em;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        background-image: url("../assets/paint1.png");
        background-size: cover;
        background-attachment: fixed;
    }
</style>
<style is:inline>
    .navbtn {
        margin: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>